{% extends 'base.html' %}
{% block content %}
<h1 id="h1" class="col-md-12 text-center">About us</h1>
<div class="col-md-12 text-center">
<p >
bits.com is an industry leader in selling new, second hand and refurbished retro consoles and accessories.
The team have a combined 180 <br> years of experience within the retro console industry. <br> The expertise we have includes game developers who worked on famous titles, such as Zelda, Donkey Kong and Missile Command. <br> We also host a range of in house hardware experts, some of whom helped create the Sega Genesis and the Commodore 64!
    </p>
    <br>
    <img id="pic_pad" class="img-fluid img-thumbnail" src="static/images/place_holder.png" alt="place holder image"> 
    <p>

</p>
</div>
{% endblock %}