{% extends 'base.html' %}
{% block content %}
<h1 id="h1" >Welcome To Bits.com</h1>
 <div>
    <p>
        The home of retro game consoles and accessories.
    </p>
 </div>

<div class="container-fluid d-flex align-items-center">
<div id="carouselExampleCaptions" class="carousel slide" data-bs-interval="3000" data-bs-ride="carousel">
    <div class="carousel-inner" >
        <div class="carousel-item active img-thumbnail" >
            <img src="static/images/place_holder.png" class="d-block w-100" alt="place holder">
        </div>
        <div class="carousel-item img-thumbnail" >
            <img src="static/images/place_holder_alt.png" class="d-block w-100" alt="place holder">
        </div>
        <div class="carousel-item img-thumbnail" >
            <img src="static/images/place_holder.png" class="d-block w-100" alt="place holder">
        </div>
        <div class="carousel-item img-thumbnail" >
            <img src="static/images/place_holder_alt.png" class="d-block w-100" alt="place holder">
        </div>
    </div>


</div>

</div>
<br>
<div>
    <p>
        Visit our store now for the best deals online
    </p>
</div>

{% endblock %}